<h2>Sinatra Template Default Page</h2>
<div class="content">
  <h4>Results of last preview update</h4>
  <pre
    <%= if @result then @result else 'no result' end  %>
    </pre>
  <h4>Results of last production update</h4>
  <pre
    <%= if @prod_result then @prod_result else 'no prod_result' end  %>
 </pre>

    <ul>
      <li><a href="/build-preview">Update preview</a></li>
      <li><a href="/build-release"> UPDATE PRODUCTION _ DANGER</a></li>
       <li><a href="http://materiaali-preview.jamo.fi/viikko1" target="_blanck">materiaalin preview</a></li>
    </ul>
  <%#= ENV.inspect.gsub(",", "<br />") %>
</div>

<div class="sidebar">
  <h3>Environment</h3>
  <ul>
    <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
    <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
    <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
    <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
  </ul>
</div>
