<h2>Sinatra Template Default Page</h2>
<div class="content">
  <pre
    <%= if @result then @result else 'no result' end  %>
    </pre>
    <p>
  <a href="/build-preview">Update preview</a>
  <a href="http://materiaali-preview.jamo.fi/viikko1" target="_blanck">materiaalin preview</a></p>
  <%#= ENV.inspect.gsub(",", "<br />") %>
</div>

<div class="sidebar">
  <h3>Environment</h3>
  <ul>
    <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
    <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
    <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
    <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
  </ul>
</div>
